pkgbase = kronos
	pkgdesc = Sega Saturn emulator, fork of yabause
	pkgver = 2.6.1
	pkgrel = 2
	url = https://github.com/FCare/Kronos
	arch = x86_64
	arch = aarch64
	arch = i686
	arch = pentium4
	license = GPL-2.0-or-later
	makedepends = cmake
	makedepends = glu
	makedepends = gcc13
	depends = openal
	depends = qt5-base
	depends = qt5-multimedia
	depends = sdl2
	depends = libglvnd
	depends = glibc
	depends = gcc-libs
	source = kronos-2.6.1.tar.gz::https://github.com/FCare/Kronos/archive/refs/tags/2.6.1_official_release.tar.gz
	b2sums = 4bfc208e1ccc7ae7d7bb50a7ec8f53bdf4cddfda818858065ae695bca3bc337b0746baba567c052882bc9107d3b8a348200379f28cf8b5057e9baf00c37df26f

pkgname = kronos
